header img{
    /* animation: stone-fly 4s linear infinite; */
    /* transition-property: left top transform; */
    /* transition-timing-function: linear; */
    left: -5vw;
    position: absolute;
}

@keyframes stone-fly {
    from {
        left: -50px;
        top: 10px;
    }

    2% {
        top: 2vh 
    }

    10% {
        top: 0;
    }

    30% {
        top: 15vh;
    }

    50% {
        top: 0;
    }

    to {
        left: 150vw;
        transform: rotate(680deg);
        top: 10vh;
    }
}

.fight-status {
    /* animation: shake-font 300ms linear infinite ; */
}

@keyframes shake-font {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.03);
    }
}