/* HEADER */
header {
    background-color: #f07f62;
}

.intro {
    background-color: #3d092e;
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* MAIN */
main {
    background-color: #e3c652;
    color: whitesmoke;
}

.stuff span {
    display: block;
    padding-top: 0.4em;
    font-size: 10ch;
}

.select-stuff section {
    background-color: #518049;   
    font-size: 3vh;

    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.select-stuff section:hover {
    background-color: #3c7559;
    transform: scale(1.2);
}

.fight-status {
    font-size: 10vw;
    color: tomato;
}


/* GAME-RESULT */

